body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(0,0,0);
}

p {
    /* the "a" controls the transparency */
    /* color: rgba(0,0,0,1); */

    /* You can also specify color with hexadecimal codes */
     /* color: #009d4f;  */

     /* HSL is another way besides rgb to pick color. */
     color: hsl(0,0,0);
}